{% extends "BpaulinUpfitBundle:Crud:edit.html.twig" %}
{%
    set breadcrumbs = {
        'Admin' : {
            'route': path('upfit_admin'),
            'icon': 'briefcase',
        },
        'Programs' : {
            'route': path('admin_program'),
            'icon': 'list',
        }
    }
%}
{%
    set action = path('member_session_update', { 'id': entity.id })
%}

{% block h1 %}Session <small>{{ entity.name }}</small>{% endblock %}

{% block content %}
<ul class='workouts'>
    {% for workout in entity.workouts %}
        <li>
            <span class='exercise'>{{ workout.exercise.name}}</span>
            <span class='status'>
                {% if workout.done is not null %}
                    {% if workout.done %}
                        Done
                    {% else %}
                        Abandoned
                    {% endif %}
                {% elseif workout == entity.nextWorkout %}
                    Current
                {% else %}
                    Todo
                {% endif %}
            </span>
            <span class='grade'>{{ workout.grade}}</span>
        </li>
    {% endfor %}
</ul>
{{ parent() }}
{% endblock %}
