{% extends "BpaulinUpfitBundle:Crud:index.html.twig" %}
{% import "BpaulinUpfitBundle::macro.html.twig" as macros %}
{%
    set breadcrumbs =
    {
        'Member' : {
            'route': path('upfit_member'),
            'icon': 'gamepad',
        },
        'Sessions' : {
            'route': path('member_session'),
        },
    }
%}
{%
    set fields = {
        'Name' : 'name',
    }
%}

{% block h1 %}Sessions{% endblock %}

{% block row %}
    <td>
        <a href="{{ path('member_session_show', { 'id': entity.id }) }}">{{ entity.name }}</a>
        {{ macros.workoutsList(entity) }}
    </td>
    <td>
        <a class="btn btn-mini btn-primary" href="{{ path('member_session_new', { 'follow': 'session', 'id': entity.id }) }}">
            <i class="icon-play"></i>
            Begin a session
        </a>
</td>
{% endblock %}
