<div id="message-area">
    {% if sessions %}
        <div class="alert">
            Unfinished sessions
            <ul>
            {% for session in sessions %}
                <li class="unfinished-sessions">
                    <a href="{{ path('member_session_workout', { 'id': session.id }) }}">{{ session.name }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
