<div id="message-area">
    {% if sessions %}
        <div class="alert alert-warning">
            {% trans %}Unfinished sessions{% endtrans %}
            <ul class="list-unstyled">
            {% for session in sessions %}
                <li class="unfinished-sessions">
                    <a href="{{ path('member_session_show', { 'id': session.id }) }}" class="alert-link">{{ session.name }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
