/web/bundles/
/web/assetic/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/config/master.rb
/app/config/develop.rb
/build/
/vendor/
/bin/
/backups/
/composer.phar
/upfit2.sublime-workspace
/build.properties
/app/sessions
*~
