{% extends "BpaulinUpfitBundle::layout.html.twig" %}
{% set actions = {
        'Create a new entry' : path('admin_exercise_new'),
    }
%}

{% block h1 %}Exercises{% endblock %}

{% block content -%}
    <table class="records_list table table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td><a href="{{ path('admin_exercise_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
