{% extends "BpaulinUpfitBundle:Crud:index.html.twig" %}
{%
    set actions = {
        'Create a new entry' : path('admin_exercise_new'),
    }
%}
{%
    set fields = {
        'Id' : 'id',
        'Name' : 'name',
    }
%}

{% block h1 %}Exercises{% endblock %}

{% block row %}
    <td>{{ entity.id }}</td>
    <td><a href="{{ path('admin_exercise_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
{% endblock %}
