{% extends "BpaulinUpfitBundle:Crud:index.html.twig" %}
{%
    set breadcrumbs = {
        ('Admin'|trans) : {
            'route': path('upfit_admin'),
            'icon': 'briefcase',
        },
        ('Exercises'|trans) : {
            'route': path('admin_exercise'),
        },
    }
%}
{%
    set actions = {
        'Add' : {
            'route': path('admin_exercise_new'),
            'icon': 'plus',
        },
    }
%}
{%
    set fields = {
        'Id' : 'id',
        'Name' : 'name',
    }
%}

{% block h1 %}{% trans %}Exercises{% endtrans %}{% endblock %}

{% block row %}
    <td>{{ entity.id }}</td>
    <td><a href="{{ path('admin_exercise_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
{% endblock %}
