{% extends "BpaulinUpfitBundle::layout.html.twig" %}

{% block content -%}
    <h1>Exercise creation</h1>

    <form action="{{ path('admin_exercise_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_exercise') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
