{% extends "::base.html.twig" %}

{% block stylesheets_global %}
    {% stylesheets '@common_css' '@BpaulinUpfitBundle/Resources/public/less/upfit.less' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
{% endblock %}

{% block javascripts_global %}
    {% javascripts'@common_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block javascripts %}{% endblock %}
{% endblock %}

{% block body %}
{% include 'BpaulinUpfitBundle:layout:navbar_top.html.twig' %}
<div class="container">
    <div class="row">
	    <div class="span12">
            {% block container %}
                <h1 class='hidden-phone'>{% block h1 %}Upfit{% endblock %}</h1>
                {% block messages %}{% endblock %}
                {% include 'BpaulinUpfitBundle:layout:notification.html.twig' %}
                {% include 'BpaulinUpfitBundle:layout:breadcrumb.html.twig' %}
    		    {% block content %}{% endblock %}
                {% include 'BpaulinUpfitBundle:layout:actions.html.twig' %}
            {% endblock %}
		</div>
    </div>
</div>
{% endblock %}
