{% extends "BpaulinUpfitBundle:Crud:edit.html.twig" %}
{%
    set breadcrumbs = {
        'Admin' : {
            'route': path('upfit_admin'),
            'icon': 'briefcase',
        },
        'Programs' : {
            'route': path('admin_program'),
            'icon': 'list',
        },
        (entity.name) : {
            'route': path('admin_program_show', { 'id': entity.id }),
        },
        'Edit' : {
            'route': path('admin_program_edit', { 'id': entity.id }),
            'icon': 'edit',
        },
    }
%}
{%
    set action = path('admin_program_update', { 'id': entity.id })
%}

{% block h1 %}Program <small>{{ entity.name }}</small>{% endblock %}

{% block javascripts %}
    {# javascripts '@jquery_ui_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts #}
    {% javascripts
        '@BpaulinUpfitBundle/Resources/public/js/collections.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
    $().ready(function(){
        $('#bpaulin_upfitbundle_programtype_stages').sf2FormCollection(
            {
              'addItem': '<a class="btn btn-success" href="#">Add a stage</a>',
              'removeItem': '<a class="btn btn-danger" href="#">Remove this item</a>',
              'tokenIndex': '__name__'
            }
        );
    });
    </script>
{% endblock %}
