{% extends "BpaulinUpfitBundle:Crud:edit.html.twig" %}
{%
    set breadcrumbs = {
        ('Admin'|trans) : {
            'route': path('upfit_admin'),
            'icon': 'briefcase',
        },
        ('Programs'|trans) : {
            'route': path('admin_program'),
            'icon': 'list',
        },
        (entity.name) : {
            'route': path('admin_program_show', { 'id': entity.id }),
        },
        ('Edit'|trans) : {
            'route': path('admin_program_edit', { 'id': entity.id }),
            'icon': 'edit',
        },
    }
%}
{%
    set action = path('admin_program_update', { 'id': entity.id })
%}

{% block h1 %}{% trans %}Program{% endtrans %} <small>{{ entity.name }}</small>{% endblock %}

{% block javascripts %}
    {# javascripts '@jquery_ui_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts #}
    {% javascripts
        '@collection_js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
    $().ready(function(){
        $('#bpaulin_upfitbundle_programtype_stages').sf2FormCollection(
            {
              'addItem': '<span class="btn btn-success btn-small" href="#"><i class="icon-plus"></i> {% trans %}Add a stage{% endtrans %}</span>',
              'removeItem': '<span class="btn btn-danger btn-small" href="#"><i class="icon-remove"></i> {% trans %}Remove{% endtrans %}</span>',
              'tokenIndex': '__name__',
              'sortItem': '<span class="btn btn-info btn-small"><i class="icon-move icon-white"></i> {% trans %}Sort{% endtrans %}</span>',
            }
        );
        $('button[type=submit]').click(function (event) {
            $('.sf2fc-item').each(function(index) {
                $(this).find('input[id*=position]').val(index);
            });
        });
    });
    </script>
{% endblock %}
