{% extends "BpaulinUpfitBundle:Crud:index.html.twig" %}
{% if is_granted('ROLE_ADMIN') %}
    {% set route_show = 'admin_program_show' %}
    {%
        set breadcrumbs = {
            'Admin' : {
                'route': path('upfit_admin'),
                'icon': 'briefcase',
            },
            'Programs' : {
                'route': path('admin_program'),
            },
        }
    %}
    {%
        set actions = {
            'Add' : {
                'route': path('admin_program_new'),
                'icon': 'plus',
            },
        }
    %}
{% else %}
    {% set route_show = 'member_program_show' %}
    {%
        set breadcrumbs = {
            'Member' : {
                'route': path('upfit_member'),
                'icon': 'gamepad',
            },
            'Programs' : {
                'route': path('member_program'),
            },
        }
    %}
{% endif %}
{%
    set fields = {
        'Id' : 'id',
        'Name' : 'name',
    }
%}

{% block h1 %}Programs{% endblock %}

{% block row %}
    <td>{{ entity.id }}</td>
    <td><a href="{{ path(route_show, { 'id': entity.id }) }}">{{ entity.name }}</a></td>
{% endblock %}
