{% extends "BpaulinUpfitBundle::layout.html.twig" %}
{% block content -%}
    <form action="{{ action }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button type="submit" class="btn btn-danger">
            <i class="icon-minus"></i>
            Delete
        </button>
    </form>
{% endblock %}
