{% extends "BpaulinUpfitBundle::layout.html.twig" %}

{% block content -%}
    <form class="form-horizontal" action="{{ action }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">
                    <i class="icon-ok"></i>
                    {% trans %}Create{% endtrans %}
                </button>
            </div>
        </div>
    </form>
{% endblock %}
